$grey-black: #333333;
.content {
    margin: 0 auto;
    padding-top: 160px;
    width: 700px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    font-size: 16px;
    width: 100%;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    color: $grey-black;
    margin-bottom: 40px;
    border: 1px solid #d3d3d3;
}

fieldset {
    margin-bottom: 30px;
    border: none;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

.buttonForm {
    background-color: $grey-black;
    color: #fff;
    height: 35px;
    border-radius: 20px;
    margin-left: 12px;
    padding-left: 24px;
    padding-right: 22px;
    padding-top: 2px;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}

.buttonForm:hover {
    background-color: #4c4c4c;
    color: #fff;
    height: 35px;
    border-radius: 20px;
    margin-left: 12px;
    padding-left: 24px;
    padding-right: 22px;
    padding-top: 2px;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}