$blue: #D6FAFf;
$grey-black: #333333;

.menu {
    position: fixed;
    margin: 0 auto;
    width: 100%;
    background-color: $grey-black;
    height: 100px;
    z-index: 9999;
    box-shadow: inset 0 2px #000, 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: inset 0 0px #000, 0 1px 3px rgba(34, 25, 25, 0.4);
    -webkit-box-shadow: inset 0 0px #000, 0 1px 3px rgba(34, 25, 25, 0.4);
}

.menu .smaller {
    position: fixed;
    margin: 0 auto;
    width: 100%;
    background-color: $grey-black;
    height: 50px;
    z-index: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 44px;
    border-color: #000;
    width: 100%;
    margin: 0 auto;
    padding-top: 28px;
}

li,
li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding-left: 20px;
    padding-top: 7px;
    cursor: pointer;
    float: left;
    font-size: 14px;
    text-transform: uppercase;
}

li a:hover {
    color: $blue;
}

.right_adm,
.right_adm a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding-top: 8px;
    padding-right: 5px;
    cursor: pointer;
    float: right;
    font-size: 11px;
    text-transform: none;
}

.right_log,
.right_log a {
    padding-left: 10px;
    padding-top: 1px;
    cursor: pointer;
    float: right;
}

.button {
    border: 1px solid $blue;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 13px;
    padding-left: 13px;
    background: $grey-black;
    border-radius: 25px;
    font-size: 9px;
    color: $blue;
    margin-right: 45px;
    margin-top: 7px;
}

.button:hover {
    border: 1px solid $blue;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 13px;
    padding-left: 13px;
    background: $blue;
    margin-right: 45px;
    margin-top: 7px;
    border-radius: 25px;
    font-size: 9px;
    color: $grey-black;
}