.right-skills {
  width: 87%;
  /* position: relative; */
  float: right;
  margin-top: 100px;
  padding-bottom: 40px;
}

.participants {
  text-transform: uppercase;
  left: 42px;
  font-size: 15px;
  font-weight: bold;
  /* position: absolute */
  display: inline;
  top: 17px;
  padding: 8px;
  cursor: pointer;
}

.fa-chevron-left {
  padding-top: 25px;
  /* left: 19px; */
  font-size: 15px;
  /* position: absolute; */
  /* left: 18px; */
  padding-left: 23px;
}

.participantName {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  padding-top: 38px;
  padding-left: 23px;
}

.seniorityJunior {
  padding-top: 26px;
  padding-left: 23px;
}

.tableJunior {
  display: block;
  border: 1px solid #d7d7d7;
  width: 96%;
  margin-left: 23px;
  margin-top: 40px;
}

.tableJuniorChild {
  display: block;
  height: 45px;
  width: 100%;
  position: relative;
}

.tableJuniorChild:last-child {
  display: block;
  border-bottom: none;
  height: 45px;
  width: 100%;
}

.tableJuniorChild:nth-of-type(even) {
  background-color: #fff;
}

.tableJuniorChild:nth-of-type(odd) {
  background-color: #f3f3f3;
}

.buttonSave {
  background-color: #333333;
  color: #fff;
  height: 35px;
  border-radius: 20px;
  margin-left: 24px;
  padding-left: 24px;
  padding-right: 22px;
  padding-top: 2px;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 32px;
}

.buttonSave:hover {
  background-color: #4c4c4c;
  color: #fff;
  height: 35px;
  border-radius: 20px;
  margin-left: 24px;
  padding-left: 24px;
  padding-right: 22px;
  padding-top: 2px;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 32px;
}

.valueInserted {
  float: right;
  width: 160px;
  height: 21px;
  /* padding-bottom: 8px; */
  margin-right: 18px;
  border: 1px solid #d7d7d7;
  position: relative;
  bottom: 8px;
}

.rowDivSkillName {
  position: relative;
  top: 14px;
  text-transform: lowercase;
  left: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 22%;
}

.rowDivSkillName:first-letter {
  text-transform: uppercase;
}

.info {
  height: 12px;
  width: 12px;
  float: left;
  position: relative;
  top: 17px;
  left: 13px;
}

.senName {
  margin-left: 24px;
  margin-top: 20px;
  padding-bottom: 10px;
}

.tooltipDescription {
  width: 500px;
  visibility: hidden;
  background-color: #333333;
  color: #fff;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  margin-left: 5px;
  font-size: 13px;
  line-height: 22px;
  padding: 12px;
  margin-top: 40px;
  cursor: pointer !important;
  opacity: 0;
  transition: opacity 0.6s;
}

.tooltipDescription::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 14px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #333333 transparent;
  cursor: pointer !important;
}

.info:hover + .tooltipDescription {
  visibility: visible;
  cursor: pointer !important;
  opacity: 1;
}

.errorInput {
  visibility: hidden;
  height: 25px;
  background-color: red;
  color: #fff;
  position: absolute;
  z-index: 1;
  right: 195px;
  bottom: 10px;
  font-size: 13px;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 24px;
  outline: none;
}

.errorInput::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent red;
}

/* .errorInput {
        height: 25px;
        width: 100px;
        display: block;
        background-color: red;
        position: absolute;
        right: 195px;
        bottom: 10px;
    } */
.allParticipantsBack {
  text-decoration: none;
  color: #333333;
}

.allParticipantsBack:hover {
  color: #d7d7d7;
}

.sortSkill {
  float: left;
  position: relative;
  left: 24px;
  width: 70px;
  top: 25px;
}

.sortValue {
  float: right;
  position: relative;
  right: 103px;
  top: 25px;
}

.caret-up1 {
  float: right;
  position: absolute;
  bottom: 7px;
  left: 55px;
  color: #000;
}

.caret-up1 a {
  color: #000;
}

.caret-down1 {
  float: right;
  position: absolute;
  left: 55px;
  top: 5px;
  color: #000;
}

.caret-down1 a {
  color: #000;
}

.caret-up2 {
  float: right;
  position: absolute;
  left: 62px;
  bottom: 6px;
  color: #000;
}

.caret-up2 a {
  color: #000;
}

.caret-down2 {
  float: right;
  position: absolute;
  left: 62px;
  top: 6px;
  color: #000;
}

.caret-down2 a {
  color: #000;
}

.borderTableSkill {
  width: 96%;
  border-bottom: 1px solid #d7d7d7;
  margin-left: 25px;
}

#all-skills {
  width: 100%;
}

#sprite1 {
  background-image: url("spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  float: right;
  width: 22px;
  height: 22px;
  background-position: -5px -5px;
  margin-right: 10px;
}

#sprite2 {
  background-image: url("spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  float: right;
  width: 22px;
  height: 22px;
  background-position: -27px -5px;
}
